<div id='top_bg'>
<div id='top_title'>
<%= image_tag 'title_big@2x.png' ,:width =>282 %><br>
</div>
<div id='top_watch'>
<%= image_tag 'watch@2x.png', :width=>133 %><br>
</div>
<div id='top_btn'>
<%= link_to (image_tag 'btn_start@2x.png', :width=>229), new_user_path %>
</div>
<div id='top_ornament'>
<%= image_tag 'ornament@2x.png' , :width=>30 %>
</div>
<div id='top_bg2'></div>
<div id='top_about'>
<div id='top_about_title'>女神転生的イデオロギヰ診断とは？</div>
<div id='top_about_contents'>女神転生的イデオロギヰ診断とは、政治信条を診断する、いわゆるポリティカルコンパスと、女神転生でいうとあなたはなんの悪魔かというよくあるエンタメ系診断を悪魔合体させた謎のサイトです。あなたの政治的信条を１６の質問に答えるだけで診断し、あわせて、あなたの女神転生的属性、つまりLAWなのかCHAOSなのかLIGHTなのかDARKなのか、あと種族と性格は何になるのかをお伝えいたします。診断結果と質問は橋本努さんの「経済倫理=あなたは、なに主義？」によります。女神転生の種族と属性の対応付けは、基本、真女神転生２よりますが、一部１やデビルサマナーに従っているところもあります。何故その二つを混ぜたのかと聞かれると答えに窮しますが、先の本を読んでいて、なんとなく女神転生のLAWとかCHAOSのマッピングと似てるなぁとふと思い実験的につなげてみました。何分政治思想にそこまで深い造詣があるわけでもなく、女神転生の属性もファンによってさまざまな解釈があることから、診断結果に対してこれおかしくね？と疑義を唱える方もおられるでしょうが、まぁなんか本当にすいません。</div>
</div>
</div>
