<div id='q_title'>
<%= image_tag('title_small@2x.png', :width => 161) %>
</div>
<div id='q_face'>
<%= image_tag('face@2x.png', :width => 220) %>
</div>
<div id='q_notice'>
1.  正直に答えましょう。<br>
2.  「中立」の答えは避けましょう。<br>
3.  社会全体に対してどうなってほしいかという観点で考えましょう。<br>
</div>
<%= render 'form' %>

