// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$bp-m: 640px;
@mixin mxs($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

@mixin mis($break-point) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}

@mixin s($break-point-min, $break-point-max) {
  @media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
    @content;
  }
}

.clear {clear:both;}
body {
  font-size: 13px;
line-height: 24px;
@include mxs($bp-m){
  line-height: 18px;
}
-webkit-font-smoothing: antialiased;
font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
font-weight: normal;
width:640px;
@include mxs($bp-m){
width:320px;
}
margin-top: 0px;
margin-right: auto;
margin-left: auto;
padding:0px;
background: #23262B;
color: white;
text-align: center;
  #top_bg {
    background-image: image-url('bg_1_big.png');
    background-repeat: no-repeat;
    width:480px;
    background-position:63px 0px;
    @include mxs($bp-m){
      width:320px;
      background-image: image-url('bg_1.png');
      background-position:0px 0px;
    }
    box-sizing:border-box;
    margin-right:auto;
    margin-left:auto;
    height:486px;
    position: relative;
    padding-top:58px;
    #top_title {
      position:relative;
      margin-left:auto;
      margin-right:auto;
    }
    #top_watch {
      margin-top:14px;
      margin-left:auto;
      margin-right:auto;
      position: relative;
    }
    #top_btn {
      margin-top:30px;
      margin-left:auto;
      margin-right:auto;
      position: relative;
    }
    #top_ornament {
      margin-top:100px;
      margin-left:auto;
      margin-right:auto;
    }
    #top_about {
      margin-top:50px;
      margin-left:auto;
      margin-right:auto;
      width:60%;
      @include mxs($bp-m){
        width:229px;
      }
      color: #FAFAFA;;
      border:solid 1px white;
      font-size:1.0em;
      @include mxs($bp-m){
        font-size:0.8em;
      }
      border-radius: 1em;
      #top_about_title{
        padding:10px 3px 10px 3px;
        border-bottom:solid 1px white;
      }
      #top_about_contents{
        text-align:left;
        padding:17px;

      }
    }
  }
 #top_bg2 {
  @include mxs($bp-m){
    background-image: image-url('bg_2.png');
  }
  position: absolute;
  width:480px;
  @include mxs($bp-m){
  width:320px;
  }
  height:700px;
  top:471px;
 }
 #q_notice {
  width:50%;
  @include mxs($bp-m){
    width:229px;
  }
  text-align:left;
  margin-top:50px;
  margin-right:auto;
  margin-left:auto;
  margin-bottom:40px;
 }
 .q_question {
  display: block;
  position: relative;
  width:50%;
  @include mxs($bp-m){
    width:270px;
  }
  margin-right:auto;
  margin-left:auto;
  margin-bottom:50px;
  .q_question_title{
    margin-top:20px;
    border:solid 1px white;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    padding:5px 3px 2px 3px;
    border:solid 1px white;
    font-size:0.8em;
  }
  .q_question_contents{
    text-align:left;
    padding-top:47px;
    padding-bottom:47px;
    font-size:1.2em;
    @include mxs($bp-m){
    padding-top:17px;
    padding-bottom:37px;
    font-size:1.0em;
    }
  }
  .q_question_rate{
    display:block;
    height:30px;
    width:350px;
    margin-top:40px;
    @include mxs($bp-m){
    width:100%;
    margin-top:20px;
    }

    margin-right:auto;
    margin-left:auto;
    input{
      display:none;
    }
    input[type="radio"]:checked + label{
      background-color:transparent;
      border:solid 1px white;
      padding-top:3px;
      width:32px;
      height:27px;
      @include mxs($bp-m){
      padding-top:4px;
      width:28px;
      height:22px;
      }
    }
    label{
      cursor: pointer;
      border-radius:15em;
      text-align:center;
      padding-top:4px;
      margin-right:13px;
      width:34px;
      height:28px;
      font-size:1.0em;
      @include mxs($bp-m){
      padding-top:5px;
      margin-right:8px;
      border-radius:2em;
      width:30px;
      height:24px;
      font-size:1.0em;
      }
      float:left;
    }
    .m3{
        background-color:#0067DF;
     }
    .m2{
        background-color:#3D74B3;
     }
    .m1{
        background-color:#677E99;
     }
    .p0{
        background-color:#808080;
     }
    .p1{
        background-color:#99676C;
     }
    .p2{
        background-color:#B33D4A;
     }
    .p3{
        background-color:#D0021B;
     }


  }
  .q_question_note1 {
    font-size:0.8em;
    text-align:left;
    float:left;
  }
  .q_question_note2 {
    font-size:0.8em;
    text-align:right;
    float:right;
  }

 }
 #r_result1 {
    margin-bottom:50px;
   #r_result1_title {
    #r_result1_title1 {
      font-size:1.1em;
    }
    #r_result1_title2 {
      font-size:2.5em;
      @include mxs($bp-m){
      font-size:1.5em;
      }
      margin-bottom:8px;
    }
    #r_result1_title3 {
      font-size:1.0em;
      margin-top:3px;
    }
   }
   #r_result1_subtitle {
    #r_result1_subtitle1 {
      font-size:1.1em;
    }
    #r_result1_subtitle2 {
      font-size:2.5em;
      @include mxs($bp-m){
      font-size:1.5em;
      }
      margin-bottom:8px;
    }
    #r_result1_subtitle3 {
      font-size:1.0em;
      margin-top:3px;
    }
   }
  }
  #r_result2{
    width:50%;
    @include mxs($bp-m){
    width:229px;
    }
    margin-right:auto;
    margin-left:auto;
    margin-bottom:50px;
    #r_result2_title{
      border:solid 1px white;
      border-top-left-radius: 1em;
      border-top-right-radius: 1em;
      padding:5px 3px 2px 3px;
      border:solid 1px white;
      font-size:0.8em;
    }
    .r_result2_contents{
      text-align:left;
      margin-bottom:30px;
      .r_result2_contents_title{
        font-size:1.5em;
        @include mxs($bp-m){
        font-size:1.3em;
        }
        text-align:center;
      }
      .r_result2_contents_contents{
        font-size:1.2em;
        @include mxs($bp-m){
        font-size:0.8em;
        }
      }
      .rc_noteY {
        font-size:0.8em;
        text-align:left;
        float:left;
      }
      .rc_noteX {
        font-size:0.8em;
        text-align:right;
        float:right;
      }
      .rc_chartY {
        width:50%;
        box-sizing: border-box;
        height:19px;
        @include mxs($bp-m){
        height:19px;
        }
        border:solid 1px white;
        border-right:none;
        padding-top:2px;
        text-align:left;
        float:left;
        .rc_chartY_unit{
          background-color:#0067DF;
          width:4%;
          height:13px;
          @include mxs($bp-m){
          height:13px;
          }
          float:right;
          margin-left:1px;
        }
      }
      .rc_chartX {
        width:50%;
        box-sizing: border-box;
        height:19px;
        @include mxs($bp-m){
        height:19px;
        }
        border:solid 1px white;
        border-left:none;
        padding-top:2px;
        text-align:right;
        float:right;
        .rc_chartX_unit{
          background-color:#D0021B;
          width:4%;
          height:13px;
          @include mxs($bp-m){
          height:13px;
          }
          float:left;
          margin-right:1px;
        }

      }
      .rc_numY {
        color:#0067DF;
        font-size:1.8em;
        margin-top:8px;
        text-align:left;
        float:left;
      }
      .rc_numX {
        color:#D0021B;
        font-size:1.8em;
        margin-top:8px;
        text-align:right;
        float:right;
      }
    }
  }
  #r_result3{
    width:50%;
    @include mxs($bp-m){
    width:229px;
    }
    margin-right:auto;
    margin-left:auto;
    margin-bottom:50px;
    #r_result3_title{
      border:solid 1px white;
      border-top-left-radius: 1em;
      border-top-right-radius: 1em;
      padding:5px 3px 2px 3px;
      border:solid 1px white;
      font-size:0.8em;
    }
    .r_result3_subtitle {
      margin-bottom:30px;
      .r_result3_subtitle1 {
        font-size:1.1em;
      }
      .r_result3_subtitle2 {
        font-size:1.5em;
        margin-bottom:8px;
      }
    }
    .r_result3_contents{
      text-align:left;
      .r_result3_contents_contents{
        font-size:0.8em;
      }

    }

  }

}
